html, body {
    height: 100%;
    margin: 0 auto;
    font-family: sans-serif;
}

.wrapper{
    background: url(img/carpet.jpg) no-repeat;
    width: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}
.wrapper-intro{
    background: url(img/intro.jpg) no-repeat;
    background-size: cover;
    width: auto;
    min-height: 100%;
    height: auto;
}
h1{
    font-size: 45px;
    text-align: center;
    color: #ff1d1d;
    text-shadow: 5px 2px 6px #000;
}
.player-tittle,.dealer-tittle{
    font-size: 2em;
    text-align: center;
    color: #1dffe3;
    text-shadow: 5px 2px 6px #000;
}
.button-start{
    margin: 20px 0 20px 0;
    background: #d93434;
    background-image: linear-gradient(to bottom, #d93434, #7a0000);
    border-radius: 7px;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.button-start:hover {
    background: #ff3d3d;
    background-image: linear-gradient(to bottom, #ff3d3d, #ff3333);

}
.button-start>a{
    text-decoration: none;
    color: #ffffff;

}
.deck{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-hit,.button-stand{
    margin: 0 1em 1em 0;
}
.button-hit{
  background: #34a5d9;
  background-image: linear-gradient(to bottom, #34a5d9, #004e78);
  border-radius: 7px;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.button-hit:hover{
  background: #26b3ff;
  background-image: linear-gradient(to bottom, #26b3ff, #006db5);
  text-decoration: none;
}
.button-stand{
  background: #66c97a;
  background-image: linear-gradient(to bottom, #66c97a, #007826);
  border-radius: 7px;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.button-stand:hover {
  background: #57cf7d;
  background-image: linear-gradient(to bottom, #57cf7d, #1f9949);
  text-decoration: none;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}
.computer-deck,.player-deck{
    display: flex;
    flex-direction: row;
}
 img{
    width: 150px;
    height: 200px;
    padding: 10px;

}
.dealer-score>p{
    color:#ffffff;
    font-size:28px; 
}
.player-score>p{
    color:#ffffff;
    font-size:28px; 
}
.dealer-score>h3{
    color:#96090d;
}
.player-score>p{
    color:#96090d;
}
.score{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dealer-score{
    margin-right: 3em;
}
.button-again{
    background: #ff0000;
    background-image: linear-gradient(to bottom, #ff0000, #c22b2b);
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    height: 47px;
}
.button-again:hover{
    background: #ff5454;
    background-image: linear-gradient(to bottom, #ff5454, #c73030);
    text-decoration: none;
}

.img-hide,.alert-hide{
    display:none;
}

.img-back{
    background: url(img/card-back-blue.jpg) no-repeat;
    background-size: cover;
    width: 150px;
    height: 200px;
    margin-top: 10px;
    border-radius: 6px;
    margin-left: 10px;
}
#win-alert-tittle{
    color: #beffa4;
    text-shadow: 5px 2px 6px #000;
    font-size: 75px;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}
#lose-alert-tittle{
    color: #fb003a;
    text-shadow: 5px 2px 6px #000;
    font-size: 75px;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}
#draw-alert-tittle{
    color: #f4800b;
    text-shadow: 5px 2px 6px #000;
    font-size: 75px;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}
.win-alert,.lose-alert,.draw-alert{
    height: 13em;
    width: 50em;
    position: absolute;
    z-index: 999;
    top: 13em;
}