body{
    background: url(img/carpet.jpg);
}
.wrapper{
    width: auto;
}
h1{
    font-family: sans-serif;
    font-size: 45px;
    text-align: center;
    color: #ff1d1d;
    text-shadow: 5px 2px 6px #000;
}
.deck{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.computer-deck,.player-deck{
    display: flex;
    flex-direction: row;
}
 img{
    width: 150px;
    height: 200px;
    padding: 10px;

}
